body {
    background: #555;
    color: #fff;
    font-family: sans-serif;
  }
  
  input, button {
    border: none;
    border-radius: 3px;
  }
  
  button {
    cursor: pointer;
  }
  
  form {
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  form > * {
    padding: 7px 10px;
    margin-bottom: 6px;
  }
  
  form button {
    background: #26be9c;
    color: #fff;
  }
  
  .text-center {
    text-align: center;
  }
  
  p.route span {
    color: yellow;
    background: #222;
    padding: 2px 5px;
  }